.popup {
  border: 1px dashed #000000;
  // border-radius: 12px;
  color: white;
  padding: 4px;
  background-color: rgba(0, 35, 102, 0.8);
  }

.controls {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 250px; 
  white-space: nowrap;
  color: gray;
  margin: 25px 25px 25px 25px;
}

.bottom-hover {
  position:absolute;
  bottom:0;
  width:100%; 
  align-content: center; 
  text-align: center;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}    .select select {
      font-family: 'Arial';
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 10px 15px;
      outline: 0;
      border: 0px solid #000000;
      border-radius: 0px;
      background: #e6e6e6;
      color: #7b7b7b;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
      .select select::-ms-expand {
          display: none;
      }
      .select select:hover,
      .select select:focus {
          color: #000000;
          background: #cccccc;
      }
      .select select:disabled {
          opacity: 0.5;
          pointer-events: none;
      }
.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

canvas {
  z-index: -1;
}
html, body {
  font-family: "Arial";
  margin: 0px;
  position: relative;
  padding: 0px;
  height: 100%;
  background-color: transparent;
  align-content: center;
  z-index: 0;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  line-height: 0.95;
  overflow: hidden;
  position: absolute;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image: -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image: -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image: -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image: linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  text-shadow: -1px -1px 2px hsla(0,0%,100%,0.25),
        -1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 1px 2px hsla(0,0%,100%,0.25),
        1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 0px 2px hsla(0,0%,100%,0.25),
        1px 0px 2px hsla(0,0%,100%,0.25);
}

.node div {
  padding: 6px 4%;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.controls button {
  width: 100px;
  height: 20px;
  margin: 1px;
  cursor: pointer;
  font-size: 11px;
  font-family: "Arial";
  color: #333333;
  border-radius: 2px;
  background-color: #FFFFFF;
  border: 1px solid #999999;
}

.instructions {
  position: relative;
  color: #000000;
  left: 30px;
  top: 460px;
  z-index: 10;
  font-size: 11px;
  font-family: "Arial";
  color: #777777;
  width: 400px;
}